{% extends 'mister/base.html'%}

{% block content %}
	<h1>User</h1>
	{% if notfound %}
		<h1>{{ notfound }}</h1>
	{% else %}
		<!-- <h1>{{ username }}</h1> -->
			<div class="card" style="width: 18rem;">
			  <img class="card-img-top" src="{{username.avatar_url}}" alt="Card image cap">
			  <div class="card-body">
			    <h5 class="card-title">{{username.login}}</h5>
			    <p class="card-text">{{username.login}}_github</p>
			    <a href="{{username.html_url}}" class="btn btn-primary">Go somewhere</a>
			  </div>
			</div>
	{% endif %}
{% endblock %}